<h1>Showing Restaurant</h1>

<p>
  <b>Name: </b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address: </b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Specialty: </b>
  <%= @restaurant.specialty %>
</p>
